html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width,initial-scale=1.0')
  title Leg it for learning
  link(rel='shortcut icon', type='image/ico', href='/favicon.ico')
  link(rel='stylesheet', href='/css/ol.css', type='text/css')
  link(rel='stylesheet' href='/css/pure-min.css')
  link(rel='stylesheet' href='/css/grids-responsive-min.css')
  link(rel='stylesheet' href='/css/blog.css')

body

 #layout.pure-g-r
  .sidebar.pure-u-1.pure-u-md-1-4
      #map.map
      script(src='/ol.js')
      script(src='/countdown.js')
      script(type='text/javascript',id='page', data-drun=distancerun, data-dtot=distancetotal, src='map.js')
       
  .content.pure-u-1.pure-u-md-3-4
     img(src='LIFL Banner.png')  
     .topnav 
       a(href='http://www.codep.co.uk') About CODEP
       a(href='http://www.codep.co.uk/springfundraiser') Sign up here!
       a(href='https://www.peoplesfundraising.com/fundraising-team/LegIt4Learning') Visit our fundraising page   
  
     .posts
      section.post


        header.post-header  
         h1.post-title 
           | Leg it for learning
         .post-description 
            //- UNCOMMENT THE BELOW WHEN WE START!  <<<<<<<<<<<<<<---------------------------------------------------------------------------
            //- h2!="We've travelled " + distancerun + " km so far with " + (10000-distancerun) + " km to go - help us get to the finish!"    
            h3#countdown
 



        .pure-g-r
          .pure-u-1.pure-u-md-1-2
           .post-description
            em Whats it about?
            p!= "<a href='http://www.codep.co.uk'>CODEP</a> is a small scale grassroots charity helping improve education for children and adults in Waterloo, Sierra Leone."
            p!= "Our first big fundraiser of the year is Leg it For Learning - a challenge for everyone who takes part to cumulatively cover 4800km over the space of three weeks in May - averaging 1,000 miles a week!" 
            p!= "This distance can be covered by any human-powered means - walking, cycling, rowing… however you prefer. What matters is everyone sets a goal that is challenging to them and raises money for CODEP while doing so. Which brings us on to our donation target, which we have set to £10,760. This is how much it costs to cover teacher salaries and other expenses for six months i.e. what is required to keep the show on the road." 
            p!= "Why? 4800km is the total distance between Waterloo, London (where our UK volunteers are from) and Waterloo, Sierra Leone (where our learning centre is based) as the crow flies."
            p!= "As we are a grassroots charity with all our UK members working as volunteers, every penny of money donated goes straight to supporting the learning centre in Sierra Leone."
            em How does it work?
            ul
             li If you have not already, use the sign-up link below to pledge how far of our 4,800 kilometre (3,000 mile) target you want to challenge yourself to contribute to. 
             li Once you have signed up, you will need to create a fundraising page on our platform, People’s Fundraising. 
             li Tell everyone you know that you’re taking part and send round the fundraising page link.
             li Follow our Instagram page for regular event updates
             li Our virtual starting gun will go off on the 1st May and then you have three weeks to complete your pledged distance. Join our strava group to add your distance to the grand total (with a chance to win prizes!). 
             li We will all cross the virtual finish line on 22nd May when hopefully you can treat yourself to some celebratory chocolate (other treats are available!).
            em Is there a fee for taking part?
            p No there is no fee, it’s a sponsorship-based challenge.
            em How much do I need to raise?
            p There is no minimum fundraising target, however the more the better! 
            em Is there a minimum distance I have to run/walk/cycle?
            p We understand that everyone has different circumstances and different levels of ability. And clearly running 10k and cycling 10k are very different challenges in themselves! Therefore we want you to pledge to undertake a distance that is a personal challenge for you, that your friends and family will understand is something you are pushing yourself to achieve in order to help out CODEP. We appreciate every mile, kilometre and step taken!
            em I’m not a strong cyclist or runner, can I walk instead?
            p Again, we understand everyone has difference circumstances. You are welcome to walk, run, cycle, swim, kayak, pogo stick… any self-propelled means that suits you and helps us towards our target. (although we’d say taking a taxi is probably cheating and won’t get you much sponsorship).
            em Why 4800km?
            p 4800 is the number of kilometres between Waterloo, London, UK (where many of our trustees are based) and Waterloo, Sierra Leone where the CODEP library and learning resource centre is.
            em Why £10,760?
            p!= "This is about half the money it takes to keep the library running, including salaries, reading competitions, supporting local schools, adult literacy classes and more. To find out everything that goes on at CODEP see our website: <a href='http://www.codep.co.uk'>www.codep.co.uk</a>" 
            em I’d like to give regularly to CODEP, how can I do that?
            p!= "<a href='https://www.peoplesfundraising.com/fundraising-team/LegIt4Learning'>Please go to our People’s Fundraising page here</a>"


 
          .pure-u-1.pure-u-md-1-2
            .l-box
              script(src='https://cdn.lightwidget.com/widgets/lightwidget.js')
              iframe.lightwidget-widget(src='https://cdn.lightwidget.com/widgets/ba1d24c1b9005d5bbb89f5ce12f5f12a.html' scrolling='no' allowtransparency='true' style='width:100%;border:0;overflow:hidden;')
            .pure-u-1
             .pure-u-1-4
              .l-box
               a(href='https://www.facebook.com/Construction-and-Development-Partnership-200566590093039')
                img(class='displayed', src='/socials/fb.png', width = 50, height= auto)
             .pure-u-1-4
              .l-box
               a(href='https://www.instagram.com/codepuk2020/')
                img(class='displayed', src='/socials/ig.png', width = 50, height= auto)
             .pure-u-1-4
              .l-box
               a(href='https://www.linkedin.com/company/construction-development-partnership')
                img(class='displayed', src='/socials/li.png', width = 50, height= auto)
             .pure-u-1-4
              .l-box
               a(href='https://twitter.com/codepsl?lang=en')
                img(class='displayed', src='/socials/tw.png', width = 50, height= auto)

           

            

            .l-box         
               center
                iframe(allowtransparency frameborder='0' height='160' scrolling='no' src='https://www.strava.com/clubs/867484/latest-rides/0e46dfddebd0b5c1664abd42e124531173b64534?show_rides=false' width='300')
            .l-box 
              center
               iframe(allowtransparency='' frameborder='0' height='454' scrolling='no' src='https://www.strava.com/clubs/867484/latest-rides/0e46dfddebd0b5c1664abd42e124531173b64534?show_rides=true' width='300')

     .footer
      button.pure-button#start-animation Restart Journey
      .pure-menu.pure-menu-horizontal
        ul
          li.pure-menu-item
            a.pure-menu-link(href='http://www.codep.co.uk') About
          li.pure-menu-item
            a.pure-menu-link(href='https://www.linkedin.com/company/construction-development-partnership') Linkedin
          li.pure-menu-item
            a.pure-menu-link(href='https://www.facebook.com/Construction-and-Development-Partnership-200566590093039') Facebook
          li.pure-menu-item
            a.pure-menu-link(href='https://twitter.com/codepsl?lang=en') Twitter
          li.pure-menu-item
            a.pure-menu-link(href='https://www.instagram.com/codepuk2020/') Instagram
